.wordList-card {
  padding: 30px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
}


.card-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    float: left;

}

.enabled{
  float:right;
  margin-bottom: 100px;
}

.wordList-name {
  font-weight: bold;
  font-size: large;
  flex: 1;
}

.list-detail {
    margin-left: 15px;
}

.title-section {
  font-weight: bold;
}

.nounList {
  display: flex;
}

.verbList {
  display: flex;
}

.adjectiveList {
  display: flex;

}

.miscList {
  display: flex;

}

.wordList-enable > * {
  float: right;
}

.list-detail > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.075);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0px 20px 0px;
}
.list-detail > div > * {
  transition-duration: 200ms;
}
.desc{
  margin: 0;
}

.bubbleNoun{
  padding: 5px 10px 5px 10px;
  background-color: #f33a21;
  color: white;
  border-radius: 10px;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px;
  justify-content: first baseline;
}

.bubbleVerb{
  padding: 5px 10px 5px 10px;
  background-color: #2196f3;
  color: white;
  border-radius: 10px;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px;
  justify-content: baseline;
  align-items: baseline;
}

.bubbleAdj{
  padding: 5px 10px 5px 10px;
  background-color: #21f356;
  color: white;
  border-radius: 10px;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px;
}

.bubbleMisc{
  padding: 5px 10px 5px 10px;
  background-color: #e6f704;
  color: white;
  border-radius: 10px;
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 10px;
}

.btn-noun{
  background-color: #f33a21;
}

.btn-verb{
  background-color: #2196f3;
}

.btn-adj{
  background-color: #21f356;
}

.btn-misc{
  background-color: #e6f704;
}


