<mat-card class="wordList-card">
  <div>
    <div class="card-header">
      <div *ngIf="editshow == true; else editname">
        <h1 class="wordList-name">{{wordlist.name}}</h1><button (click)="change()">Edit Name</button>
      </div>
      <ng-template #editname>
        <mat-form-field class="title">
          <mat-label>Edit Word List Name</mat-label>
          <input matInput name="name" [(ngModel)]="name">
        </mat-form-field>
        <button (click)="save()">Save</button>
      </ng-template>
    </div>
  </div>

  <p class="enabled">{{wordlist.enabled ? 'Enabled' : 'Disabled'}}</p>

  <p><strong>Amount of Words in List:</strong></p>
  <mat-card-subtitle>{{wordlist.nouns.length + wordlist.verbs.length + wordlist.adjectives.length + wordlist.misc.length }}</mat-card-subtitle>

  <mat-card-content>
    <div class= "list-detail">
        <div class="nounsList">
            <!--display:flex-->
            <p  class="desc title-section" element="nouns"><strong>Nouns: </strong></p>
            <p  color="primary" class="bubbleNoun" *ngFor="let noun of wordlist.nouns; let index = index">
              <app-word-card [word]="this.wordlist.nouns[index]"></app-word-card></p>
            <button [routerLink]="['/contextpacks', this.contextpack._id, this.wordlist.name, 'addword']" mat-fab class="btn-noun"><mat-icon>add</mat-icon></button>
          </div>
          <div class="verbsList">
            <!--display:flex-->
            <p  class="desc title-section" element="verbs"><strong>Verbs: </strong></p>
            <p  color="primary" class="bubbleVerb" *ngFor="let verb of wordlist.verbs; let index = index">
              <app-word-card [word]="this.wordlist.verbs[index]"></app-word-card></p>
            <button [routerLink]="['/wordlist', this.wordlist.name, 'addword']"  [type]="verb" mat-fab class="btn-verb"><mat-icon>add</mat-icon></button>
          </div>
          <div class="adjectivesList">
            <!--display:flex-->
            <p  class="desc title-section" element="adjectives"><strong>Adjectives: </strong></p>
            <p  color="primary" class="bubbleAdj" *ngFor="let adjective of wordlist.adjectives; let index = index">
              <app-word-card [word]="this.wordlist.adjectives[index]"></app-word-card></p>
            <button [routerLink]="['/wordlist', this.wordlist.name, 'addword']" [type]="adj" mat-fab class="btn-adj"><mat-icon>add</mat-icon></button>
          </div>
          <div class="miscList">
            <!--display:flex-->
            <p  class="desc title-section" element="misc"><strong>Misc: </strong></p>
            <p  color="primary" class="bubbleMisc" *ngFor="let misc of wordlist.misc; let index = index">
              <app-word-card [word]="this.wordlist.misc[index]"></app-word-card></p>
            <button [routerLink]="['/wordlist', this.wordlist.name, 'addword']" [type]="misc" mat-fab class="btn-misc"><mat-icon>add</mat-icon></button>

          </div>
    </div>
  </mat-card-content>

  <button [routerLink]="['/contextpacks', this.contextpack._id, this.wordlist.name]">View WordList</button>

</mat-card>
