<mat-card class="wordList-card">
  <div>
    <div class="card-header">
      <h1 class="wordList-name">{{wordlist.name}}</h1>
    </div>
  </div>
  <mat-card-content>
    <div class= "list-detail">
        <div class="nounsList">
            <!--display:flex-->
            <p  class="desc title-section" element="nouns"><strong>Nouns:</strong></p>
            <p  *ngFor="let noun of wordlist.nouns">{{noun.word}}</p>
          </div>
          <div class="verbsList">
            <!--display:flex-->
            <p  class="desc title-section" element="verbs"><strong>Verbs:</strong></p>
            <p  *ngFor="let verb of wordlist.verbs">{{verb.word}}</p>
          </div>
          <div class="adjectivesList">
            <!--display:flex-->
            <p  class="desc title-section" element="adjectives"><strong>Adjectives:</strong></p>
            <p  *ngFor="let adjective of wordlist.adjectives">{{adjective.word}}</p>

          </div>
          <div class="miscList">
            <!--display:flex-->
            <p  class="desc title-section" element="misc"><strong>Misc:</strong></p>
            <p  *ngFor="let misc of wordlist.misc">{{misc.word}}</p>

          </div>
    </div>
  </mat-card-content>
  <div>
    <button class="btn" [routerLink]="['/wordlist', this.wordlist.name]">View WordList</button>
  </div>
</mat-card>
