<mat-card>
  <h1>Add WordList</h1>
  <mat-form-field class="title">
    <mat-label>WordList Name</mat-label>
    <input matInput name="name" placeholder="name">
  </mat-form-field>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enabled</mat-label>
      <mat-select required formControlName="enabled">
        <mat-option value="true">True</mat-option>
        <mat-option value="false">False</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <button>Save Wordlist</button>
</mat-card>
